{% extends 'roster/base.html' %}

{% block content %}
    <h1>{{ team.name }}</h1>

    {% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}

    <a href="{% url 'roster:player_form' team.id %}">Add Player</a>

    {% if team.player_set.all %}
        <ul>
        {% for player in team.player_set.all %}
            <li>{{ player.name }}</li>
        {% endfor %}
        </ul>
    {% else %}
        <p>Add players.</p>
    {% endif %}

    <a href="{% url 'roster:game_form' team.id %}">New Game</a>

    {% if team.game_set.all %}
        <ul>
        {% for game in team.game_set.all %}
            <li><a href="{% url 'roster:game' game.id %}">{{ game }}</li>
        {% endfor %}
        </ul>
    {% else %}
        <p>No games yet.</p>
    {% endif %}
{% endblock %}
